<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Invitación a Evento</title>
</head>
<body>
<p>Estimado(a) {{name}}</p>

<p>Nos complace informarle que ha sido asignado(a) como monitor para la visita al parque {{parkName}}
  en el sendero {{trailName}} programado para el día {{date}}.</p>

<p>Detalle de la visita:</p>
<ul>
  <li><strong>Fecha:</strong> {{date}}</li>
  <li><strong>Hora inicio:</strong> {{startTime}} hrs.</li>
  <li><strong>Hora fin:</strong> {{endTime}} hrs aprox.</li>
  <li><strong>Cantidad visitantes:</strong> {{visitorCount}} personas aprox.</li>
  <li><strong>Materia:</strong> {{subject}}</li>
</ul>

<p>Agradecemos de antemano su colaboración y esperamos contar con su valiosa participación.</p>

<p>Saludos.</p>

<p>Equipo de Parques</p>

<img src="cid:logo" alt="Logo Parque Cordillera" style="width:350px; height:auto; margin-bottom: 5px;" />

</body>
</html>

