<!-- src/mail/templates/event-invite.hbs -->
<p>
  Hola, {{name}}
</p>

<p>
  Te invitamos a nuestro evento "{{title}}".
</p>

<p>
  Descripción: {{description}}
</p>

<p>
  Lugar: {{location}}
</p>

<p>
  Fecha y Hora: {{date}} a las {{time}}
</p>

<p>
  <a href="{{meetLink}}">Unirme con Google Meet</a>
</p>

<p>
  Responder a {{organizerEmail}}
</p>

